In [25]:
import pandas as pd
import numpy as np
import os
import pathlib
import re
import datetime
import itertools

In [33]:
root = pathlib.Path.home()
# pt = os.path.join(root, 'research', "NOAA_WEATHER_DATA", "raw", "noaa_statewide_monthly_weather_data_tmax.txt")
# pt = os.path.join(root, 'research', "NOAA_WEATHER_DATA", "raw", "noaa_statewide_monthly_weather_data_tmin.txt")
pt = os.path.join(root, 'research', "NOAA_WEATHER_DATA", "raw", "noaa_statewide_monthly_weather_data_pcp.txt")
data = pd.read_fwf(pt, header=None, dtype={0: str})

In [34]:
def split_it(string):
    if string[:3] == "041":
        return True
    else:
        return False

mask = data[0].apply(split_it)

In [35]:
data = data.loc[mask, :]

def get_year(string):
    return int(string[-4:])

data["year"] = data[0].apply(get_year)

In [36]:
data = data[(2013 <=data["year"]) & (data["year"] <= 2023)]

In [37]:
index = pd.date_range(start=datetime.datetime(2013, 1, 1), end=datetime.datetime(2024, 1, 1), freq='1h')
new_df = pd.DataFrame(index=index)

In [38]:
for year, month in itertools.product(range(2013, 2024), range(1, 13)):
    mask = (new_df.index.month == month) & (new_df.index.year == year)
    i = data[data["year"] == year].index[0]
    val = data.at[i, month]
    # new_df.loc[mask, "Tmin"] = val
    # new_df.loc[mask, "Tmin"] = val
    new_df.loc[mask, "Pcp"] = val

In [39]:
new_df

                      Pcp
2013-01-01 00:00:00  2.46
2013-01-01 01:00:00  2.46
2013-01-01 02:00:00  2.46
2013-01-01 03:00:00  2.46
2013-01-01 04:00:00  2.46
...                   ...
2023-12-31 20:00:00  1.75
2023-12-31 21:00:00  1.75
2023-12-31 22:00:00  1.75
2023-12-31 23:00:00  1.75
2024-01-01 00:00:00   NaN

[96409 rows x 1 columns]

In [40]:
# pt = os.path.join(root, 'research',"NOAA_WEATHER_DATA", "processed", "noaa_statewide_monthly_weather_data_tmax.csv")
# pt = os.path.join(root, 'research',"NOAA_WEATHER_DATA", "processed", "noaa_statewide_monthly_weather_data_tmin.csv")
pt = os.path.join(root, 'research',"NOAA_WEATHER_DATA", "processed", "noaa_statewide_monthly_weather_data_pcp.csv")
new_df.to_csv(pt)